[submodule "mySharesCollector"]
	path = mySharesCollector
	url = git@github.com:General-Meow/mySharesCollector.git
[submodule "mySharesGenerator"]
        path = mySharesGenerator
        url = git@github.com:General-Meow/mySharesGenerator.git
